<br>
<br>

<div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col container">
  <div class="mdl-card__media mdl-color-text--grey-50">
    <h3><%= book.title %></h3>
  </div>

  <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--3-col" style="min-height: 350px;background: url('/images/dog.png') bottom right 15% no-repeat #46B6AC"></div>
      <div class="mdl-cell mdl-cell--9-col" style="position: relative ">
        <div>
          Автор: <a href="/book?filter[author]=<%= book.author %>"><%= book.author %></a> <br>
          Серия: <a href="/book?filter[series]=<%= book.series %>"><%= book.series %></a> <br>
          Издательство: <a href="/book?filter[publishing_house]=<%= book.publishing_house %>"><%= book.publishing_house %></a>
          <hr>
          Стеллаж: <%= book.rack %> <br>
          Ярус (снизу): <%= book.block %> <br>
          Полка (слева): <%= book.shelf %> <br>

          <% if (book.holder) { %>
          <b>На руках у:</b>
          <%= book.holder.username %>@rambler-co.ru <br>
          <% } else { %>
          <b>Книга доступна, вы можете ее </b>
          <a href="./booking" class="mdl-button mdl-js-button mdl-button--accent">Взять</a>
          <%  } %>
        </div>

        <% if (isAdmin) { %>
          <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" href="<%= book.link() %>edit" style="position: absolute;right: 0; top: 0">
            <i class="material-icons">edit</i>
          </a>
        <% } %>

      </div>

      <div class="mdl-cell mdl-cell--12-col">
        <% if (searched) { %>
          <% searched.forEach(function(item) {  %>
            <%= item.title %> <br>
            <%= item.publishedDate %> <br>

            <% item.industryIdentifiers.forEach(function(isbn) {  %>
            ISBN: <%= isbn.identifier %> <br>
            <% }); %>

            <%= item.description %> <br>
            <img src="<%= item.thumbnail %>">
            <br>
            <hr>
          <% }); %>
        <% } %>
      </div>

    </div>
  </div>
</div>


<br>
<br>
<br>