<div class="site-back">
  <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="<%= (typeof req.get('referer') != 'undefined' && req.get('referer') != req.url) ? req.get('referer') : '/' %>" title="назад" role="button">
    <i class="material-icons" role="presentation">arrow_back</i>
    <span class="mdl-button__ripple-container">
      <span class="mdl-ripple"></span>
    </span>
  </a>
</div>

<br>
<br>

<div class="mb15">
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp container">
  <header class="section__play-btn mdl-cell mdl-cell--2-col mdl-color--white mdl-color-text--white">
    <% if (book.cover) { %>
      <div class="book-cover" style="background-image: url('<%= book.cover %>')"></div>
    <% } else { %>
      <div class="book-cover book-cover_default"></div>
    <% } %>
  </header>
  <div class="mdl-card mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone" style="overflow: visible">
    <% if (typeof isAdmin != 'undefined' && isAdmin) { %>
    <a id="editBook" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" href="<%= book.link() %>edit" style="position: absolute;right: 10px; top: -30px">
      <i class="material-icons">edit</i>
    </a>
    <div class="mdl-tooltip mdl-tooltip--large" for="editBook">
      Редактировать
    </div>
    <% } %>

    <div class="mdl-card__supporting-text">
      <div>
        <h4><%= book.title %></h4>
        <% if (book.isbn) { %> ISBN: <%= book.isbn %><br> <% } %>
        <% if (book.author) { %> Автор: <a href="/book?filter[author]=<%= book.author %>"><%= book.author %></a> <br> <% } %>
        <% if (book.series) { %> Серия: <a href="/book?filter[series]=<%= book.series %>"><%= book.series %></a> <br> <% } %>
        <% if (book.publishing_house) { %> Издательство: <a href="/book?filter[publishing_house]=<%= book.publishing_house %>"><%= book.publishing_house %></a> <br> <% } %>

        <% if (book.description) { %> <hr><p><%= book.description %><p> <br> <% } %>

        <hr>
        Стеллаж: <a href="/book?filter[rack]=<%= book.rack %>"><%= book.rack %></a> <br>
        Ярус (снизу): <a href="/book?filter[block]=<%= book.block %>"><%= book.block %></a> <br>
        Полка (слева): <a href="/book?filter[shelf]=<%= book.shelf %>"><%= book.shelf %></a> <br>
        <hr>

        <% if (book.holder) { %>
          <% if (req.user && book.holder.id == req.user.id) { %>
            <form action="./unbooking" method="post">
              <p>Книга у вас на руках, вы планировали вернуть ее <%= sails.moment(book.available_date).format('D.M.YYYY') %></p>
              <button type="submit" class="mdl-button mdl-js-button mdl-button--accent">Вернуть сейчас</button>
            </form>
          <% } else { %>
            <b>На руках у:</b>
            <%= book.holder.first_name %> <%= book.holder.last_name %> <a href="mailto:<%= book.holder.username %>@rambler-co.ru">[<%= book.holder.username %>@rambler-co.ru]</a>
            <% if (book.taken_from) { %>
            c <%= sails.moment(book.taken_from).format('D.M.YYYY') %>&nbsp;
            <% } %>
            <% if (book.available_date) { %>
            и освободится после <%= sails.moment(book.available_date).format('D.M.YYYY') %><br>
            <% } %>
          <% } %>

        <% } else if (isAuthenticated) { %>
          <form action="/book/<%= book.id %>/booking" method="post">
            <b>Книга доступна, вы можете ее взять</b> <br>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" name="available_date" id="dateInp">
              <label class="mdl-textfield__label" for="dateInp">Дата возврата</label>
            </div>
            <button type="submit" class="mdl-button mdl-js-button mdl-button--accent" id="getBookCtrl">Взять</button>
          </form>
        <% } else { %>
            <p><a href="/login">Войдите</a>, чтобы взять книгу</p>
        <% } %>

      </div>
    </div>
  </div>
</section>
</div>

<% if (searched && _.size(searched)) { %>
  <div class="container">
    <h4>Найдено в Google books:</h4>
  </div>
  <% searched.forEach(function(item, i) {  %>

    <div class="mb15">
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp container">
      <header class="section__play-btn mdl-cell mdl-cell--2-col mdl-color--white mdl-color-text--white">
        <img src="<%= item.thumbnail %>" style="width: 100%">
      </header>
      <div class="mdl-card mdl-cell mdl-cell--10-col">
        <div style="position: absolute; right: 10px;top: 10px">
          <button id="menu-lower-right-<%=i%>" class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">more_vert</i>
          </button>

          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu-lower-right-<%=i%>">
            <li disabled class="mdl-menu__item">
              <a href="#" disabled class="mdl-button mdl-js-button">Импортировать</a>
            </li>
          </ul>
        </div>

        <div class="mdl-card__supporting-text">
          <div>
            <h4><%= item.title %></h4>
            <% if (item.authors) { %>
              Авторы:
              <% item.authors.forEach(function(author) {  %>
                <%= author %>
              <% }); %>
            <% } %><br>
            <% if (item.publisher) { %> Издательство: <%= item.publisher %><br> <% } %>
            <% if (item.publishedDate) { %> Дата публикации: <%= item.publishedDate %><br> <% } %>

            <% if (item.industryIdentifiers) {  %>
              <% item.industryIdentifiers.forEach(function(isbn) {  %>
                ISBN: <%= isbn.identifier %> <br>
              <% }); %>
            <% } %>

            <%= item.description %> <br>
          </div>
        </div>
      </div>
    </section>
    </div>

  <% }); %>
<% } %>
